body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b0b1b1;
  background: url('../images/images/background\ oet\ salon.webp oet salon.webp') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

header {
  background-color: #f08080;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

main {
  padding: 20px;
}

h2 {
  color: #f08080;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


/*Tablet View*/

@media((min-width: 601px) and (max-width: 798px)) {
    .about-container {
        flex-direction: column;
        text-align: justify;
    }

    .about-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container img {
        width: 20%;
    }

    .houses-container {
        flex-direction: column;
    }

    .houses-item {
        margin: 10px 0px;
    }
}

/*Phone View*/

@media((max-width: 600px)) {
    .about-container {
        flex-direction: column;
        text-align: justify;
    }

    .about-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container img {
        width: 40%;
    }

    .houses-container {
        flex-direction: column;
    }

    .houses-item {
        margin: 10px 0px;
    }
}
